<form [formGroup]="form" (ngSubmit)="!card ? addCard($event) : editCard($event)" class="bg-white mt-4" method="POST">
  <div [ngClass]="{'card-box px-4 box pb-14': form.get('titulo')?.value}">
      <input
        formControlName="titulo"
        type="text"
        name="task"
        id="task"
        [ngClass]="{'title-input-bottom-border': form.get('titulo')?.value}"
        class="w-full title-input p-2 border-bottom outline-0 cursor-text"
        placeholder="Digite o título do card..."
      />
      <div *ngIf="form.get('titulo')?.value" class="mt-1 text-center m-auto cursor-text">
        <ng-container>
          <ckeditor (change)="onCkeditorChanges($event)" (ready)="onReady($event)" [config]="editorConfig" [editor]="Editor"></ckeditor>
        </ng-container>
      </div>
      <div class="pt-2">
        <button *ngIf="form.get('titulo')?.value"
          [disabled]="!form.valid"
          [ngClass]="{'opacity-50 pointer-events-none': !form.valid}"
          class="button-primary text-white px-4 h-10 rounded-lg ml-2 float-right"
          type="submit">
          {{ card ? 'Editar' : 'Criar' }}
        </button>
      </div>
  </div>
</form>