@import '/src/app/styles/theme';

.button-primary {
    background-color: $primary-color;
}

.card-header {
    background-color: $primary-color-light;
    color: $white-snow;
}

.box {
    min-height: 200px;
}

.title-input-bottom-border {
    border-bottom: groove 1px var(--ck-color-base-border);
}

input, .card-box {
    background-color: var(--ck-color-button-default-active-background);
}

.ck.ck-toolbar, .ck-content {
    border-width: 0;
    border: none !important;
}
.ck.ck-toolbar.ck-toolbar_grouping {
    background-color: var(--ck-color-button-default-active-background);   
}
.ck.ck-editor__main>.ck-editor__editable {
    background-color: var(--ck-color-button-default-active-background);
}

.ck.ck-editor__main>.ck-editor__editable.ck-focused {
    box-shadow: none;
}