<div class="flex flex-row justify-center" *ngIf="cards$ | async as cards">
  <div class="flex flex-col w-full px-4 py-6 bg-gray-100">
    <h2 class="text-xl font-semibold mb-4">Kanban Board</h2>
    <div class="flex flex-row box-card space-x-4" cdkDropListGroup>
      <div class="w-80 bg-white rounded-lg shadow-lg">
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="cards.toDo"
          [cdkDropListConnectedTo]="[inProgressList, doneList]"
          (cdkDropListDropped)="drop($event, 'toDo')"
          class="align-top drop-area">
          <div class="card-header px-4 py-2 rounded-t-lg">
            <h3 class="text-lg font-semibold">To Do</h3>
          </div>

          <div *ngIf="cards.toDo.length === 0" class="text-center text-lg font-semibold mt-4 color-primary">
            Crie o seu card abaixo...
          </div>

          <app-kanban-card-item
            *ngFor="let card of cards.toDo"
            cdkDrag
            [cdkDragDisabled]="!allowDragAndDrop"
            [card]="card"
            lista="to-do"
            (onEdit)="editCard($event)"
            (onDelete)="deleteCard($event)"
            (editModeEnabled)="allowDragAndDrop = !$event">
          </app-kanban-card-item>
        </div>
        <div class="px-2">
          <app-kanban-add-card-form lista="to-do" (onSubmit)="addCard($event)">
          </app-kanban-add-card-form>
        </div>
      </div>

      <div class="w-80 bg-white rounded-lg shadow-lg">
        <div
          cdkDropList
          #inProgressList="cdkDropList"
          [cdkDropListData]="cards.inProgress"
          [cdkDropListConnectedTo]="[todoList, doneList]"
          (cdkDropListDropped)="drop($event, 'doing')"
          class="align-top drop-area">
          <div class="card-header px-4 py-2 rounded-t-lg">
            <h3 class="text-lg font-semibold">Doing</h3>
          </div>
          <div *ngIf="cards.inProgress.length === 0" class="text-center text-lg font-semibold mt-4 color-primary">
            Crie o seu card abaixo...
          </div>
          <app-kanban-card-item
            *ngFor="let card of cards.inProgress"
            cdkDrag
            [cdkDragDisabled]="!allowDragAndDrop"
            [card]="card"
            lista="in-progress"
            (onEdit)="editCard($event)"
            (onDelete)="deleteCard($event)"
            (editModeEnabled)="allowDragAndDrop = !$event">
          </app-kanban-card-item>
        </div>
        <div class="px-2">
          <app-kanban-add-card-form
            lista="in-progress"
            (onSubmit)="addCard($event)"
          >
          </app-kanban-add-card-form>
        </div>
      </div>

      <div class="w-80 bg-white rounded-lg shadow-lg drag-zone">
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="cards.done"
          [cdkDropListConnectedTo]="[todoList, inProgressList]"
          class="align-top drop-area"
          (cdkDropListDropped)="drop($event, 'done')">
          <div class="card-header px-4 py-2 rounded-t-lg">
            <h3 class="text-lg font-semibold">Done</h3>
          </div>
          <div *ngIf="cards.done.length === 0" class="text-center text-lg font-semibold mt-4 color-primary">
            Crie o seu card abaixo...
          </div>
          <app-kanban-card-item
            *ngFor="let card of cards.done"
            cdkDrag
            [cdkDragDisabled]="!allowDragAndDrop"
            [card]="card"
            lista="done"
            (onEdit)="editCard($event)"
            (onDelete)="deleteCard($event)"
            (editModeEnabled)="allowDragAndDrop = !$event">
          </app-kanban-card-item>
        </div>
        <div class="px-2">
          <app-kanban-add-card-form lista="done" (onSubmit)="addCard($event)">
          </app-kanban-add-card-form>
        </div>
      </div>
    </div>
  </div>
</div>
