@import "/src/app/styles/theme";

.button-primary {
  background-color: $primary-color;
}

.color-primary {
  color: $primary-color;
}
 
.box-card {
  align-items: flex-start;
}

.card-header {
  background-color: $primary-color-light;
  color: $white-snow;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drop-area {
    min-height: 100px;
}

app-kanban-card-item {
    cursor: move; 
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}


app-kanban-card-item:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

app-kanban-card-item:last-child {
  border: none;
}

.cdk-drop-list-dragging app-kanban-card-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
