@import '/src/app/styles/theme';

.button-primary {
    background-color: $primary-color;
}

.card-header {
    background-color: $primary-color-light;
    color: $white-snow;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }  

.ck-content {
    ol, ul {
        margin-left: 20px;
    }
}

button {
    cursor: pointer;
}