
<ng-container *ngIf="!editMode; else editableMode">
  <!-- item -->
  <div class="p-4 content">
    <div class="bg-white border rounded-lg shadow-md p-4">
      <div class="justify-between mb-2">
        <div class="space-x-2 float-right">
          <button (click)="showEditMode()" class="text-gray-500 font-bold" type="button">
            Editar
          </button>
          <button class="text-red-500 font-bold" type="button" (click)="delete()">
            Deletar
          </button>
        </div>
        <h4 class="text-lg truncate font-semibold">{{ card.titulo }}</h4>
      </div>
      <div class="ck-content ck-editor__editable ck ck-editor__main">
        <div [innerHTML]="card.conteudo | safeHtml"></div>
      </div>
    </div>
  </div>
  <!-- ./item -->
</ng-container>

<ng-template #editableMode>
  <div class="px-2">
    <app-kanban-add-card-form
      [card]="card"
      (onEdit)="editCard($event)">
    </app-kanban-add-card-form>
  </div>
</ng-template>