<header class="bg">
  <div class="container mx-auto flex justify-between items-center py-4">
    <a href="#" class="text-lg font-semibold text">Letscode</a>

    <nav class="hidden md:flex space-x-4">
      <div class="flex items-center">
        <div class="w-8 h-8 rounded-full flex items-center justify-center bg-gray-500 text-white font-bold mr-2">
          <span>L</span>
        </div>
        <span class="text font-medium">letscode</span>
      </div>
    </nav>
  </div>
</header>