// Define primary color palette
$primary-color: var(--ds-surface, #026AA7);
$primary-color-light: #0079BF;
$primary-color-dark: #0062cc;
$white-snow: #FFFAFA;

// Export primary color palette
:export {
  primaryColor: $primary-color;
  primaryColorLight: $primary-color-light;
  primaryColorDark: $primary-color-dark;
}

:root {
    --primary-color: #007bff;
    --primary-color-light: #6ea8ff;
    --primary-color-dark: #0062cc;
  }